<!-- <p>video-page works!</p> -->
@if (isLoaded()) {
    @if (isShort) {
        <!-- <p>url_video_short: {{ videoData.url_video_short }}</p>
        <p>url_video_full: {{ videoData.url_video_full }}</p>
        <p>answer_true: {{ videoData.answer }}</p> -->
        
        @if (responseVideoData) {
            <div class="container">
                <video #id_video autoplay (canplay)="VideoPlay()" (ended)="onVideoEnded()">
                    <source src="{{ responseVideoData.url_video_short }}" type="video/mp4">
                </video>
            </div>
        }
    } @else {
        @if (responseVideoData) {
            <div class="container">
                <video #id_video autoplay (canplay)="VideoPlay()" (ended)="onVideoEnded()">
                    <source src="{{ responseVideoData.url_video_full }}" type="video/mp4">
                </video>
            </div>
        }
    }
    @if (isShowButtons && isShort) {
        <div class="result_answer">
            <div>
                <button style="color: green;" type="button" (click)="onAnswer(true)">ЗАБЬЕТ</button>
                <button style="color: red;" type="button" (click)="onAnswer(false)">НЕ ЗАБЬЕТ</button>
            </div>
        </div>
    }
} @else {
    <div>Ожидайте...</div>
}