.right_block {
    background-image: url("/right_block.png");
}

.play_button {
    margin-bottom: 60px;
}

/* and (orientation: landscape) */
/* @media only screen and (min-width: 1024px) and (max-height: 1366px) { */
@media only screen and (max-width: 1366px) and (orientation: landscape) {

    .right_block {
        background-image: url("/right_block_small.png");
    }

    .text {
        width: 474px;
        height: 162px;
    }

    .play_button {
        width: 573px;
        height: 94px;
        margin-bottom: 80px;
    }
  }
