.win {
    background-image: url("/win.png");
}

.lose {
    background-image: url("/lose.png");
}

.to_start_button {
    width: 714px;
    height: 121px;
    margin-bottom: 60px;
}

.group_button {
    width: 714px;
    height: 242px;
    margin-bottom: 60px;
}

.to_finish_button {
    width: 714px;
    height: 121px;
    /* margin-bottom: 60px; */
}

.to_try_button {
    width: 714px;
    height: 121px;
    /* margin-bottom: 60px; */
}

.font_number {
    font-family: Inter;
    font-weight: 900;
    font-size: 90px;
    line-height: 90%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(256.82deg, #00FF8C 52.16%, #0060FF 111.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1366px) and (orientation: landscape) {

    .win {
        background-image: url("/win_small.png");
    }

    .lose {
        background-image: url("/lose_small.png");
    }

    .text_win {
        width: 410px;
        height: 192px;
    }

    .text_lose {
        width: 410px;
        height: 192px;
    }

    .to_start_button {
        width: 573px;
        height: 94px;
    }

    .group_button {
        width: 573px;
        height: 188px;
    }

    .to_finish_button {
        width: 573px;
        height: 94px;
    }

    .to_try_button {
        width: 573px;
        height: 94px;
    }

    .font_number {
        font-family: Inter;
        font-weight: 900;
        font-size: 68px;
        line-height: 90%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        background: linear-gradient(256.82deg, #00FF8C 52.16%, #0060FF 111.1%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

  }